.site {
  overflow: hidden;
  min-width: 320px;
  font-family: 'Helvetica', sans-serif;
  font-weight: 300;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 20px 20px 30px;
    background: #fff;
    font-size: 12px;
    color: #323232;

    .logo {
      height: 20px;
      margin-bottom: 10px;
    }
    &-icon {
      height: 50px;
      margin-bottom: 10px;
    }

    > span {
      position: absolute;
      bottom: 10px;
      left: 0;
      width: 100%;
      text-align: center;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    color: #fff;
    background: #de4e16;
    font-size: 12px;

    p {
      margin-bottom: 6px;
    }

    a,
    a:visited {
      display: inline-block;
      position: relative;
      padding: 8px 27px 8px 10px;
      background-color: #fff;
      color: #000;
      font-weight: 400;
      text-align: left;
      margin-top: 28px;

      &:before,
      &:after {
        position: absolute;
        top: 11px;
        right: 11px;
        width: 9px;
        height: 9px;
        border: 1px solid #000;
        box-sizing: border-box;
        transform: rotate(45deg);
        clip: rect(0px, 9px, 7px, 2px);
        content: '';
      }

      &:after { right: 22px }
    }
  }
}
@media (min-width: $phone-landscape) {
  .site {

  }
}
@media (min-width: $tablet-portrait) {
  .site {

  }
}
@media (min-width: $tablet-landscape) {
  .site {

    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 263px;
      padding: 70px 70px;
      font-size: 24px;

      &-icon {
        @include absoluteCenter();
        height: auto;
        margin: 6px 0 0 0;
      }

      .logo {
        height: auto;
        margin-bottom: 0;
      }

      > span {
        position: relative;
        bottom: auto;
        left: 0;
        width: auto;
      }
    }

    &__footer {
      align-items: center;
      justify-content: center;
      height: 475px;
      font-size: 28px;

      a,
      a:visited {
        padding: 15px 54px 15px 20px;
        margin-top: 56px;

        &:before,
        &:after {
          top: 22px;
          right: 22px;
          width: 18px;
          height: 18px;
          border: 3px solid #000;
          clip: rect(0px, 18px, 14px, 4px);
        }

        &:after { right: 33px }
      }
    }
  }
}
@media (min-width: $desktop) {
  .site {

    &__header {
      padding: 70px 170px;
    }
  }
}

